version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: arc
    environment:
      POSTGRES_DB: arc
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Nikhil
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: arc-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@arc.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  postgres_data:


networks:
  app-network:
    driver: bridge
